<md-list>
    <h2 md-subheader>All pets are here</h2>
    <md-list-item *ngFor="let pet of pets" (click)="onSelect(pet)" [class.active]="selectedPet===pet">
        <md-icon md-list-icon>pets</md-icon>
        <h3 md-line>{{pet.name}}</h3>
        <p md-line>Age:{{pet.age}} Weight:{{pet.weight}}</p>
    </md-list-item>
    <md-divider></md-divider>
</md-list>

<!--
<div *ngIf="selectedPet">
    <h3>
        {{selectedPet.name | uppercase}} is my pet
    </h3>
    <button type="button" class="btn btn-default" (click)="gotoDetail()">View Details</button>
</div>
    -->