<md-sidenav-container [class.m2app-dark]="isDarkTheme">

    <md-sidenav #sidenav mode="side" opened="true" class="app-sidenav">
        <md-list>
            <h2 md-subheader>Shopping List</h2>
            <md-list-item>
                <md-icon md-list-avatar color="warn">check</md-icon>
                <h4 md-line>Tomato</h4>
                <p md-line>2 kilo</p>
            </md-list-item>
            <md-list-item>
                <md-icon md-list-avatar>check</md-icon>
                <h4 md-line>Green Prawn</h4>
                <p md-line>1.5 kilo</p>
            </md-list-item>
        </md-list>
    </md-sidenav>

    <md-toolbar color="accent">
        <button class="app-icon-button" (click)="sidenav.toggle()">
            <i class="material-icons app-toolbar-menu">menu</i>
        </button>
        <span>Hello Material</span>

        <!-- This fills the remaining space of the current row -->
        <span class="app-toolbar-filler"></span>
        <!--
        <button md-button (click)="isDarkTheme = !isDarkTheme">TOGGLE DARK THEME</button>
            -->
        <button md-button>
            <md-icon>perm_identity</md-icon>
            <span>Sign Up</span>
        </button>
        <button md-button>
            <md-icon>input</md-icon>
            <span>Login</span>
        </button>
    </md-toolbar>

    <div class="app-content">
        <!-- demo for button -->
        <md-card>
            <demo-button></demo-button>
        </md-card>

        <!-- demo for list -->
        <md-card>
            <demo-list></demo-list>
        </md-card>

        <!-- demo for icon -->
        <md-card>
            <demo-icon></demo-icon>
        </md-card>

        <!-- demo for dialog -->
        <md-card>
            <demo-dialog></demo-dialog>
        </md-card>

        <!-- demo for gridlist -->
        <md-card>
            <demo-gridlist></demo-gridlist>
        </md-card>

        <!-- demo for card -->
        <md-card>
            <demo-card></demo-card>
        </md-card>

        <!-- demo for tabs -->
        <md-card>
            <demo-tabs></demo-tabs>
        </md-card>

        <!-- demo for menu -->
        <md-card>
            <demo-menu></demo-menu>
        </md-card>

        <!-- demo for form control on checkbox -->
        <md-card>
            <demo-form-control-checkbox></demo-form-control-checkbox>
        </md-card>
    </div>
</md-sidenav-container>