<md-sidenav-container [class.m2app-dark]="isDarkTheme">

    <md-sidenav #sidenav mode="side" class="app-sidenav">
        <md-list>
            <h3 md-subheader>Todo List</h3>
            <md-list-item>
                <md-icon md-list-avatar>pets</md-icon>
                <h4 md-line>Go Shopping</h4>
                <p md-line>We are hungry</p>
            </md-list-item>
        </md-list>
    </md-sidenav>

    <md-toolbar color="primary">
        <button class="app-icon-button" (click)="sidenav.toggle()">
        <i class="material-icons app-toolbar-menu">menu</i>
        </button>
        <span>Hello Material</span>
        <span class="app-toolbar-filler"></span>
        <!--
        <button md-button (click)="isDarkTheme = !isDarkTheme">TOGGLE DARK THEME</button>
            -->
        <ul>
            <li><a href="#"><i class="material-icons app-toolbar-menu">menu</i> Sign Up</a></li>
            <li><a href="#"><i class="material-icons app-toolbar-menu">menu</i> Login</a></li>
        </ul>
    </md-toolbar>

    <div class="app-content">
        <!-- demo for button -->
        <md-card>
            <demo-button></demo-button>
        </md-card>

        <!-- demo for list -->
        <md-card>
            <demo-list></demo-list>
        </md-card>

        <!-- demo for icon -->
        <md-card>
            <demo-icon></demo-icon>
        </md-card>

        <!-- demo for dialog -->
        <md-card>
            <demo-dialog></demo-dialog>
        </md-card>

        <!-- demo for gridlist -->
        <md-card>
            <demo-gridlist></demo-gridlist>
        </md-card>

        <!-- demo for card -->
        <md-card>
            <demo-card></demo-card>
        </md-card>

        <!-- demo for tabs -->
        <md-card>
            <demo-tabs></demo-tabs>
        </md-card>

        <!-- demo for menu -->
        <md-card>
            <demo-menu></demo-menu>
        </md-card>
    </div>
</md-sidenav-container>