<h1>Guide - 7 User Input</h1>

<h3>The button binds its (click) event to a component method</h3>
<p>
    <click-me></click-me>
</p>

<h3>The button binds its (click) event to a component method with its $event as parameter</h3>
<p>
    <click-me2></click-me2>
</p>

<h3>The input binds its (keyup) event to a component method with its $event as parameter</h3>
<div>
    <key-up1></key-up1>
</div>

<h3>The input has a template reference variable and binds its (keyup) event to number 0</h3>
<div>
    <loop-back></loop-back>
</div>

<h3>The input has a template reference variable and binds its (keyup) event to a component method with its value as parameter</h3>
<div>
    <key-up2></key-up2>
</div>

<h3>The input has a template reference variable and binds its (keyup.enter) event to a component method with its value as parameter</h3>
<div>
    <key-up3></key-up3>
</div>

<h3>The input has a template reference variable and binds its (keyup.enter) event and (blur) event to a component method with its value as parameter</h3>
<div>
    <key-up4></key-up4>
</div>

<h3>Little Tour</h3>
<p><i>Add a new hero</i></p>
<div>
    <little-tour></little-tour>
</div>