<h1>Web in Angular 2 RC5</h1>

<h2>01-say-hi</h2>
<say-hi-demo></say-hi-demo>
<say-hi-demo></say-hi-demo>

<h2>02-binding-oneway</h2>
<binding-oneway-demo></binding-oneway-demo>

<h2>03-another-class</h2>
<another-class-demo></another-class-demo>

<h2>04-binding-twoway</h2>
<binding-twoway-demo></binding-twoway-demo>

<h2>05-binding-event</h2>
<binding-event-demo></binding-event-demo>

<h2>06-injecting-service</h2>
<injecting-service-demo></injecting-service-demo>

<h2>07-ngfor</h2>
<ngfor-demo></ngfor-demo>

<h2>08-ngif</h2>
<ngif-demo></ngif-demo>

<h2>09-accept-input</h2>
<accept-input-demo></accept-input-demo>

<h2>10-routing</h2>
<routing-demo></routing-demo>