<div *ngIf="pet">
    <h3>Pet Details</h3>

    <form (ngSubmit)="onSubmit()" #petForm="ngForm">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" placeholder="name me" required [(ngModel)]="pet.name" name="name">
        </div>
        <div class="form-group">
            <label for="age">Age:</label>
            <input type="number" class="form-control" id="age" [(ngModel)]="pet.age" name="age">
        </div>
        <div class="form-group">
            <label for="weight">Weight:</label>
            <input type="number" step="0.01" class="form-control" id="weight" [(ngModel)]="pet.weight" name="weight">
        </div>
        <div class="checkbox">
            <label><input type="checkbox"> Remember me</label>
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!petForm.form.valid">Submit</button>
        <button type="button" class="btn btn-default" (click)="onDelete()">Delete</button>
        <button type="button" class="btn btn-default" (click)="goBack()">Back</button>
    </form>
    <p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
</div>